<!DOCTYPE html>
<html>
  <head>
    <title>Deeothen T. Cation Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
        margin-bottom: 10px
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <img class="img-fluid" id="banner" src = "https://deeothen-careers-website--deeothenteecati.repl.co/static/banner.jpg" >
      <h1 class="text-center mt-4 mb-4">{{company_name}} Job Openings</h1>
      <div class="row" style="margin-bottom:16px">
        <div class="col-6"
      <p class="lead">
        Phen is an essence of truthfulness, love, and sincerity. Another reason is that she showers her family with her blessing and live. Furthermore, she gives us everything but never demand anything in return. The way she cares for everyone in the family inspires everybody to the same in our future.  Today women are more independant and educated than they were in the past and they share equal rights and responsibilities as men. But when women that work decide to get married and have children too and decide to continue working, then they must struggle to balance their domestic and professional roles. Part -time jobs is the solution which working women can today consider in order to balance child-care and their financial obligations.
      </p>
        </div>
        <div class="col-6">
        <img src="/static/people.jpg" style="height:320px;border-radius:4px">
        </div>
        </div>
      <h2 class="text-center mt-4 mb-3">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
      {% include 'footer.html' %}
      </div>
    </div>
  </body>
</html>