<!DOCTYPE html>
<html>
  <head>
    <title>BryGC Inc. Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
        width: 100%;
        height: 360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-4 mb-5">{{company_name}} Job Openings</h1>
      <img class="img-fluid" id="banner" src = "https://deeothen-careers-website--deeothenteecati.repl.co/static/banner.jpg" >
      <h2 class="text-center mt-4 mb-2">About {{company_name}}</h2>
      <p class="lead">
        Phen is an essence of truthfulness, love, and sincerity. Another reason is that she showers her family with her blessing and live. Furthermore, she gives us everything but never demand anything in return. The way she cares for everyone in the family inspires everybody to the same in our future.
      </p>
      <h2 class="text-center mt-4 mb-3">Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="mt-4">Copyright 2023, Bryan G. Caracas</p2>
      </div>
    </div>
  </body>
</html>